.container
  .row
    .col-lg-8.offset-lg-2.col-md-10.offset-md-1
      .card
        .card-header.clearfix
          .pull-sm-left
            %ol.breadcrumb
              %li.breadcrumb-item
                = link_to teams_path do
                  %i.material-icons group
                  Teams
              %li.breadcrumb-item= link_to @team.team_name, team_path(@team), style: "color:##{@team.color}"
              %li.breadcrumb-item.active Edit
          .pull-sm-right
            = link_to 'Cancel', team_path(@team), class: 'btn btn-secondary'

        = render 'form'
