%nav.navbar.navbar-fixed-top
  %ul.nav.navbar-nav
    %li.nav-item
      = link_to teams_path, class: 'nav-link' do
        %i.mdi.mdi-account-multiple
        = t('shared.navbar.teams')
    %li.nav-item
      = link_to @team.name, team_path(@team), style: "color:##{@team.color}", class: 'nav-link'
    %li.nav-item
      .nav-link
        Edit
  %ul.nav.navbar-nav.pull-sm-right
    %li.nav-item
      = link_to 'Cancel', team_path(@team), class: 'nav-link'
%hr
= render 'form'
