%nav.navbar.navbar-fixed-top
  %ul.nav.navbar-nav
    %li.nav-item
      .nav-link
        %i.mdi.mdi-account-multiple
        = t('shared.navbar.teams')
  %ul.nav.navbar-nav.pull-sm-right
    %li.nav-item
      = link_to content_tag(:i, '', class:'mdi mdi-account-multiple-plus') + ' New', new_team_path, class: 'nav-link'
%hr
.row
  - @teams.each do |team|
    .col-sm-4
      .card{id: dom_id(team), style: "background-color:##{team.color}; color: rgba(0,0,0,.5);"}
        .card-block
          = link_to team.name, team_path(team), style: "color: rgba(0,0,0,.8);"
          %br
          = team.description
