%nav.navbar.navbar-fixed-top
  %ul.nav.navbar-nav
    %li.nav-item
      .nav-link
        %i.mdi.mdi-account-multiple
        = t('shared.navbar.teams')
  %ul.nav.navbar-nav.pull-sm-right
    %li.nav-item
      = link_to content_tag(:i, '', class:'mdi mdi-account-multiple-plus') + ' New', new_team_path, class: 'nav-link'
%hr
.row
  - @teams.each do |team|
    .col-sm-4
      .card.company-bg{id: dom_id(team), class: "company-bg-#{team.id}"}
        .card-block
          = link_to team.name, team_path(team)
          %br
          = team.description
    :scss
      @function set-text-color($color) {
        @if lightness($color) > 40% {
          @return darken($color, 30%);
        } @else {
          @return lighten($color, 30%);
        }
      }
      .company-bg-#{team.id},
      .company-bg-#{team.id} a {
        background: ##{team.color};
        color: set-text-color(##{team.color});
      }
