.container
  .row
    .col-xs-12
      .card
        .card-header.clearfix
          .pull-sm-left
            %ol.breadcrumb
              %li.breadcrumb-item
                = link_to teams_path do
                  %i.mdi.mdi-account-multiple
                  = t('shared.navbar.teams')
              %li.breadcrumb-item.active{style: "color:##{@team.color}"}= @team.name
          .pull-sm-right
            - if current_user.admin?(@team)
              = link_to 'Edit', edit_team_path(@team), class: 'btn btn-secondary'
              = link_to 'Delete', team_path(@team), method: :delete, data: { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
              = link_to 'Invite new user', new_user_invitation_path, class: 'btn btn-success'

        = render partial: 'shared/timelines'
        = render partial: 'shared/map'
