= simple_form_for @user do |f|
  .card-block
    - if @user.errors.any?
      #error_explanation
        - @user.errors.full_messages.each do |msg|
          .alert.alert-danger= msg

    %p
      = f.label :first_name
      %br
      = f.text_field :first_name, class: "form-control", autofocus: true
    %p
      = f.label :last_name
      %br
      = f.text_field :last_name, class: "form-control"
    %p
      = f.label :email
      %br
      = f.text_field :email, class: "form-control"
    %p
      = f.check_box :admin
      = label_tag :admin
    %p
      = f.label :password
      %br
      = f.password_field :password, class: "form-control"
    %p
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation, class: "form-control"

  .card-footer
    .row
      .col-xs-12
        = f.submit "Save", class: "btn btn-primary btn-block"
