.clearfix
  .pull-sm-left
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to users_path(team_id: @team) do
          %i.mdi.mdi-account
          = t('shared.navbar.users')
      %li.breadcrumb-item
        = link_to user_path(@user) do
          = @user.first_name
          = @user.last_name
      %li.breadcrumb-item.active Edit
  .pull-sm-right
    = link_to 'Cancel', users_path(team_id: @team), class: 'btn btn-secondary'
%hr
= render partial: 'form'
