.container
  .row
    .col-lg-8.offset-lg-2.col-md-10.offset-md-1
      .card
        .card-header.clearfix
          .pull-sm-left
            %ol.breadcrumb
              %li.breadcrumb-item.active
                %i.mdi.mdi-account
                Users
          .pull-sm-right
            -# if current_user.admin == true
            = link_to content_tag(:i, '', class:'mdi mdi-account-plus') + ' Add', new_user_path, class: 'btn btn-primary'

        .card-block
          %table.table
            %thead
              %tr
                %th Email
                %th Admin
                %th.text-xs-right Actions

            %tbody
              - @users.each do |user|
                %tr{id: dom_id(user)}
                  %td
                    = link_to user_path(user) do
                      = user.first_name
                      = user.last_name
                  %td
                    - if user.admin
                      %i.mdi.mdi-check
                    - else
                      %i.mdi.mdi-close
                  %td.text-xs-right
                    -# if current_user.admin == true
                    = link_to 'Edit', edit_user_path(user), class: 'btn btn-secondary'
                    = link_to 'Delete', user_path(user), method: :delete, data: { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
