.container
  .row
    .col-lg-8.offset-lg-2.col-md-10.offset-md-1
      .card
        .card-header.clearfix
          .pull-sm-left
            %ol.breadcrumb
              %li.breadcrumb-item
                = link_to users_path(team_id: @team) do
                  %i.mdi.mdi-account
                  Users
              %li.breadcrumb-item.active
                = @user.id
          .pull-sm-right
            -# if current_user.admin == true
            = link_to 'Edit', edit_user_path(@user), class: 'btn btn-secondary'
            = link_to 'Delete', user_path(@user), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

        .card-block
          %dl
            %dt Email
            %dd= @user.email
            %dt Admin
            %dd
              - if @user.admin
                %i.mdi.mdi-check
              - else
                %i.mdi.mdi-clear
