.container
  .row
    .col-lg-8.offset-lg-2.col-md-10.offset-md-1
      .card
        .card-header.clearfix
          .pull-left
            %ol.breadcrumb
              %li
                = link_to teams_path do
                  %span.fa.fa-users
                  Teams
              %li
                = link_to users_path(team_id: @team) do
                  %span.fa.fa-group
                  Users
              %li.active
                %span.fa.fa-user
                = @user.id
          .pull-right
            -# if current_user.admin == true
            = link_to 'Edit', edit_user_path(@user), class: 'btn btn-outline-secondary'
            = link_to 'Delete', user_path(@user), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

        .card-block
          %dl
            %dt Email
            %dd= @user.email
            %dt Admin
            %dd
              - if @user.admin
                Yes
              - else
                No
