%nav.navbar.navbar-fixed-top
  %button.navbar-toggler.hidden-md-up.pull-xs-right{'data-target' => '#collapsenav', 'data-toggle' => 'collapse', :type => 'button'}
    %i.mdi.mdi-menu
  = link_to root_url, class: 'navbar-brand' do
    %i.mdi.mdi-timer-sand-empty
    = t('.name')
  #collapsenav.collapse.navbar-toggleable-sm.pull-xs-left.pull-md-none
    %ul.nav.navbar-nav.pull-md-right

      - if user_signed_in?
        %li.nav-item.pull-xs-none.pull-md-left
          = link_to content_tag(:i, '', class:'mdi mdi-account-multiple') + ' ' + t('.teams'), teams_path, class: 'nav-link'

        %li.nav-item.pull-xs-none.pull-md-left
          = link_to content_tag(:i, '', class:'mdi mdi-account') + ' ' + t('.users'), users_path, class: 'nav-link'

        %li.nav-item.pull-xs-none.pull-md-left
          = link_to content_tag(:i, '', class: 'mdi mdi-account-circle'), edit_user_registration_path, class: 'nav-link'

        %li.nav-item.pull-xs-none.pull-md-left
          = link_to content_tag(:i, '', class:'mdi mdi-logout-variant') + ' ' + t('.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link'

      - else
        %li.nav-item.pull-xs-none.pull-md-left
          = link_to content_tag(:i, '', class:'mdi mdi-login-variant') + ' ' + t('devise.shared.links.sign_in'), new_user_session_path, class: 'nav-link'

        %li.nav-item.pull-xs-none.pull-md-left
          = link_to content_tag(:i, '', class:'mdi mdi-pen') + ' ' +  t('devise.shared.links.sign_up'), new_user_registration_path, class: 'nav-link'

      -# Language selector
      %li.nav-item.pull-xs-none.pull-md-left
        .dropdown
          %button.btn.btn-secondary#languageDropdown.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :type => 'button'}
            %i.mdi.mdi-translate
          .dropdown-menu.dropdown-menu-right{'aria-labelledby' => 'languageDropdown'}
            - regions = ['ja', 'de', 'nl', 'en']
            - regions.each do |lan|
              = link_to t('language', locale: lan), current_path_new_locale(lan.to_sym), class: 'dropdown-item'
