%nav.navbar.navbar-fixed-top
  %button.navbar-toggler.hidden-md-up.pull-xs-right{'data-target' => '#collapsenav', 'data-toggle' => 'collapse', :type => 'button'}
    ☰
  = link_to root_url, class: 'navbar-brand' do
    %i.material-icons timelapse
    = t('.name')
  #collapsenav.collapse.navbar-toggleable-sm.pull-xs-left.pull-md-none
    %ul.nav.navbar-nav.pull-md-right
      -# Language selector
      %li.nav-item.pull-xs-none.pull-md-left
        .dropdown
          %button.btn.btn-secondary#languageDropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %i.material-icons translate
            Language
          .dropdown-menu{"aria-labelledby" => "languageDropdown"}
            - regions = ['en', 'ja']
            - regions.each do |lan|
              %button.dropdown-item{:type => "button"}
                = link_to t('language', locale: lan), current_path_new_locale(lan.to_sym)

      - if user_signed_in?
        %li.nav-item.pull-xs-none.pull-md-left
          = link_to content_tag(:i, 'people', class: 'material-icons') + ' Teams', teams_path, class: 'nav-link'

        %li.nav-item.pull-xs-none.pull-md-left
          = link_to content_tag(:i, 'person', class: 'material-icons') + ' Users', users_path, class: 'nav-link'

        %li.nav-item.pull-xs-none.pull-md-left
          = link_to content_tag(:i, 'exit_to_app', class: 'material-icons') + ' Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link'

      - else
        %li.nav-item.pull-xs-none.pull-md-left
          = link_to content_tag(:i, 'input', class: 'material-icons') + ' Login', new_user_session_path, class: 'nav-link'
        %li.nav-item.pull-xs-none.pull-md-left
          = link_to content_tag(:i, 'edit', class: 'material-icons') + ' Register', new_user_registration_path, class: 'nav-link'
