%nav.navbar.navbar-left
  %ul.nav.navbar-nav
    %li.nav-item
      = link_to root_url, class: 'nav-link' do
        %span.mdi.mdi-timer-sand-empty
        .popside Home

    - if user_signed_in?
      %li.nav-item
        = link_to teams_path, class: 'nav-link' do
          %span.mdi.mdi-account-multiple
          .popside= t('.teams')
      %li.nav-item
        = link_to users_path, class: 'nav-link' do
          %span.mdi.mdi-account
          .popside= t('.users')

      %li.nav-item
        = link_to edit_user_registration_path, class: 'nav-link' do
          %span.mdi.mdi-account-circle
          .popside= t('devise.registrations.edit.title', resource: current_user.model_name.human)

      %li.nav-item
        = link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
          %span.mdi.mdi-logout-variant
          .popside= t('.sign_out')

    - else
      %li.nav-item
        = link_to new_user_session_path, class: 'nav-link' do
          %span.mdi.mdi-login-variant
          .popside= t('devise.shared.links.sign_in')

      %li.nav-item
        = link_to new_user_registration_path, class: 'nav-link' do
          %span.mdi.mdi-pen
          .popside= t('devise.shared.links.sign_up')

      %li.nav-item
        .dropdown
          %button.btn.btn-sm.btn-secondary#languageDropdown.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :type => 'button'}
            %i.mdi.mdi-translate
          .dropdown-menu.dropdown-menu-right{'aria-labelledby' => 'languageDropdown'}
            - I18n.available_locales.each do |lan|
              = link_to t('language', locale: lan), current_path_new_locale(lan.to_sym), class: 'dropdown-item'
