.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      .card
        .card-header.clearfix
          .pull-left
            %ol.breadcrumb
              %li
                = link_to admin_teams_path do
                  %span.fa.fa-user-secret
                  Admin
              %li= link_to @team.company_name, admin_team_path(@team), style: "color:##{@team.color}"
              %li.active Edit
          .pull-right
            = link_to 'Cancel', admin_team_path(@team), class: 'btn btn-secondary-outline'

        = render 'form'
